@font-face {
    font-family:"HelveticaNeue";
    src: url("../fonts/helveticaNeueMediumCond.otf")format('opentype');
}
body, html {
    background-color: #ECE3DA ;
}

a{
    text-decoration: none;
}

/* Navigation Menu */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}


/* Section 1  */
#section1{
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.rectangle  {
    width: 245px;
    height: 20px;
    flex-shrink: 0;
    background-color: #353238;
}

#rectangleOne {
    position: absolute;
    top: 128px;
    left: 232px;
}

#rectangleTwo {
    position: absolute;
    top: 800px;
    right: 200px;
}

.landing{
    color: #353238;
    width: 1736px;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#landingImage{
    position: relative;
    top: -80px;
}

#navBar {
    font-family: "HelveticaNeue";
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    border: none;
    background: none;
    font-size: 25px;
    font-style: normal;
    position: absolute;
    top: 43px;
    right: 80px;
}

#links {
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
    width: 44px;
    height: 100px;
    justify-content:space-between;
    color: #353238;
    position: relative;
    right: -100px;
    top: -100px;
}

#icon1{
    color: #353238;
}

#icon2{
    color: #353238;
}

#icon3{
    color: #353238;
}

#landingText {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
}

#softwareDeveloper {
    display: inline;
    color: #E36588;
}

#uxDesigner {
    display: inline;
    color: #3E92CC;
}

#landingImage{
    width: 509px;
    height: 632px;
}

#landingTitle {
    width: 709px;
    height: 244px;
    flex-shrink: 0;
    /* font-family: "HelveticaNeue"; */
    font-size: 52px;
    font-style: normal;
    
    font-weight: 500px;
    line-height: 64px; /* 123.077% */
    letter-spacing: 2.08px;
}

#sub1 {
    width: 642px;
    height: 153px;
    flex-shrink: 0;
    /* font-family: "HelveticaNeue"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
    letter-spacing: 0.6px;
}

#sub2 {
    width: 642px;
    height: 105px;
    flex-shrink: 0;
    /* font-family: "HelveticaNeue"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
    letter-spacing: 0.6px;
}

p {
    /* font-family: "HelveticaNeue"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
    letter-spacing: 0.8px;
}

/* Section 2 */

#section2 {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    width: 100%;
    height: 1117px;
    background-color: #353238;
    color:#ECE3DA;
    display: flex;
    flex-direction: row;
}

.sect2Sub {
    font-size: 45px;
    font-weight: 700;
}

.sec2Left, p {
    font-weight: 300;
    font-size: 40px;
}