---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css'
import placeHolder from '../../src/images/placeholder.jpg'
import '../styles/script.js'

---
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
		<!-- Other head elements -->
		<title>Luke Taylor</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
		<script type="module" src="/src/script.js"></script>
	</head>
	<body>

		<div id="myNav" class="overlay">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="overlay-content">
			<a href="#">Home</a>
			<a href="#">Projects</a>
			<a href="#">Resume</a>
			</div>
		</div>


		<section id="section1">
			<button type="button" id="navBar" onclick="openNav()">Menu</button>
			<div class="rectangle" id="rectangleOne"></div>
			<div class="rectangle" id="rectangleTwo"></div>
			<div class="landing"> 

				<div id="links">
					<a href="https://twitter.com/LukeXTaylor" class="fab fa-twitter fa-2xl" id="icon1" target="_blank"></a>
					<a href="https://www.linkedin.com/in/lucian-taylor/" class="fab fa-linkedin fa-2xl" id="icon2" target="_blank"></a>
					<a href="https://www.instagram.com/lucian.jp3g/" class="fab fa-instagram fa-2xl" id="icon3" target="_blank"></a>
				</div>

				<div id="landingText">
					<h1 id="landingTitle">I'm a <div id="softwareDeveloper">Software Developer</div> and <div id="uxDesigner">UX designer</div>,
						<br> 
						dedicated to improving the daily lives of people.</h1>
					<p id="sub1">I recently graduated from the University of <br>
						Kentucky with a degree in computer science <br>
						and specialize in web development and UI/<br>
						UX.</p>
					<p id="sub2">Outside of the professional setting, I enjoy <br>
						talking basketball, fitness, technology, and <br>
						photography.</p>
				</div>

				<img src={placeHolder.src} width={placeHolder.width} height ={placeHolder.height} alt="placeholder" id="landingImage">

			</div>
		</section>


		<section id="section2">

			<div class="sec2Left">
				<h3 class="sect2Sub">education</h3>
				<p>University of Kentucky</p>
				<p>Bachelors of Science in Computer Science</p>
				<h3 class="sect2Sub">technical skills</h3>
				<p>software</p>
					<div id="softwareButtons">
						<button type="button">Figma</button>
						<button type="button">Photoshop</button>
						<button type="button">Illustrator</button>
						<button type="button">InDesign</button>
						<button type="button">GitHub</button>
						<button type="button">Jira</button>
				</div>
				<div id="experiences">
					<p>Research Co-Author</p>
					<p>Freelance Web Designer</p>
					<p>Octane Design <div class="expTitle">Intern</div></p>
					<p>NACME Machine Learning Bootcamp <div class="expTitle">Intern</div></p>
					<p>UK Campus Recreation <div class="expTitle">Supervisor</div></p>
				</div>
			</div>

			<div class="sec2Right">
				<div></div>
				<p>resume pdf</p>
				<p>coding</p>
				<div id="codingButtons">
					<button type="button">HTML/CSS</button>
					<button type="button">JavaScript</button>
					<button type="button">Python</button>
					<button type="button">Swift</button>
					<button type="button">SQL</button>
					<button type="button">VS Code</button>
				</div>
				<div id="dates">
					<p>July 2022 - May 2023</p>
					<p>May 2023 - Present</p>
					<p>May 2018 - May 2019</p>
					<p>June 2022 - May 2023</p>
					<p>August 2020 - July 2023</p>
				</div>

			</div>

				<h1 class="sect2Sub">experience</h1>
			</div>
		</section>


		<div class="workPreview">
			<h1>my works</h1>
		</div>

		<div class="footer">
			<h3>Contact</h3>
			<p>Lexington, Ky</p>
			<p>P: 8595335177</p>
			<p>E: lta255@uky.edu</p>

			<a href="https://twitter.com/LukeXTaylor" class="fa fa-twitter" target="_blank">twitter</a>
			<a href="https://www.linkedin.com/in/lucian-taylor/" class="fa fa-linkedin" target="_blank">linkedin</a>
			<a href="https://www.instagram.com/lucian.jp3g/" class="fa fa-instagram" target="_blank">instagram</a>
			<a href="https://open.spotify.com/user/12129893527" class="fa fa-spotify" target="_blank">spotify</a>
			<a href="https://github.com/LukeTaylor1" class="fa fa-github" target="_blank">github</a>
		</div>


		<!-- <script>
			function openNav(){
			document.getElementById("navBar").style.height ="100%";
			}

			function closeNav() {
				document.getElementById("myNav").style.height = "0%";
			}
		</script> -->
	</body>
</html>